/*
Author: Antoine Sorin
Version: 1
*/

@font-face {
    font-family: "PunkSongwriter";
    src: url("../fonts/PunkSongwriterRoughPERSO.ttf") format("truetype");
}

@font-face {
    font-family: "TravisZone";
    src: url("../fonts/TravisZone.ttf") format("truetype");
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular.ttf") format("truetype");
}

* {
    margin:0;
    padding:0;
}

body {
    background-color: #000000;
}

header {
    text-align: center;
}

/******* MENU ********/

#contentNav {
    background-color: #000000;
    height:60px;
    margin: auto;
    text-align: center;
    position: fixed;
    width: 100%;
}

#desktopMenu {
    width: 1127px;
    margin: auto;
    padding-top:18px;
}


#desktopMenu ul li {
    list-style: none;
    margin:0 20px;
    float:left;
}

#desktopMenu ul li a {
    font-family: PunkSongwriter, tahoma, arial, serif;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 2px;
}

#desktopMenu ul li a span {
    color: #b81d17;
}

/******* INFOS SOCIAL ********/

#socialInfos {
    color: #FFFFFF;
    height: 972px;
    background: url("../images/bg.jpg") top center no-repeat;
    text-transform: uppercase;
    font-family: PunkSongwriter, tahoma, arial, serif;
    font-size: 75px;

}

#infos {
    padding-top:150px;
    margin-left:450px;
}

#infos span {
    color: #b81d17;
}

#socialInfos #prenom {
    font-size: 100px;
}

#socialInfos a {
    text-decoration: none;
    font-size: 40px;
    margin:0 10px;
    color: #FFFFFF;
    transition-duration: 0.5s;
}

#socialInfos a:hover {
    color: #b81d17;
    transition-duration: 0.5s;
}

#socialIcons {
    background: url("../images/logo-guitare.png") top center no-repeat;
    height:145px;
}

#icons {
    margin-left: 140px;
}

/******* SUR SCENE ********/

#surScene {
    background-color: #b81d17;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom:50px;
}

#surScene h1 {
    font-family: "TravisZone", Tahoma, Arial serif;
    color: #FFFFFF;
    letter-spacing: 3px;
    padding: 20px;
}

#contentScene {
    background-color: #ded7d7;
    padding: 20px;
    border-radius: 10px;
    max-width: 1208px;

    margin: auto;
}

#gridScene {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#affiche {
    margin-left:30px
}

#resume {
    text-align: left;
    padding:20px 0 20px 20px;
    margin-left:10px;
}

#resume h2 {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 22px;
}

#resume p {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 17px;
    margin-top:15px;
}

#videos {
    margin-top:24px;
}

#liensScene {
    margin-top:40px;
}

#lienDates {
    text-decoration: none;
    padding:10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "LatoRegular", Tahoma, Arial, serif;
    background-color: #b81d17;
    border: solid 3px #b81d17;
    color: #f3eeee;
}

/******* DATES ********/

#surScene h3 {
    color: #b81d17;
    font-family: "TravisZone", Tahoma, Arial serif;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 20px 0;
}

#contentBilletterie {
    width: 1210px;
    margin: auto;
}

.date {
    display: grid;
    grid-template-columns: 200px 250px 250px 250px 200px;
}

.logo img {
    height: 50px;
}

.date, .ville, .salle, .vente, .soon {
    line-height: 50px;
    font-family: "LatoRegular", Tahoma, Arial, serif;
}

.vente a {
    color: #ded7d7;
    background-color: #b81d17;
    padding:15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}



/******* LIVRES ********/

#livres {
    background-color: #faf8f8;
    text-align: center;
}

#livres h1 {
    color: #b81d17;
    font-family: "TravisZone", Tahoma, Arial serif;
    letter-spacing: 3px;
    padding: 20px;
}

.contentLivres {
    background-color: #f3eeee;
    padding: 20px;
    border-radius: 10px;
    max-width: 1208px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: auto;
}

#resumeLivrePoissonLune {
    text-align: left;
    padding:20px;
}

#resumeLivrePoissonLune h2 {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 22px;
}

#resumeLivrePoissonLune p {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 17px;
    margin-top:15px;
}

#resumeLivrePoissonLune p.textItalic {
    font-style: italic;
}

#liensPoissonLune {
    margin-top:40px;
}

#lienDedicace, #lienCommanderPoissonLune {
    text-decoration: none;
    padding:10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "LatoRegular", Tahoma, Arial, serif;
}

#lienDedicace {
    background-color: #f3eeee;
    border: solid 3px #b81d17;
    color: #b81d17;
}

#lienCommanderPoissonLune {
    background-color: #b81d17;
    border: solid 3px #b81d17;
    color: #f3eeee;
    margin-left:20px;
}

.conte {
    margin-top:30px;
    margin-bottom: 20px;
}

#resumeLivreConte {
    text-align: left;
    padding: 20px;
}

#resumeLivreConte h2 {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 22px;
}

#resumeLivreConte p {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 17px;
    margin-top:15px;
}

#liensPoissonLuneConte {
    margin-top:40px;
}

#lienCommanderPoissonLuneConte {
    text-decoration: none;
    padding:10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "LatoRegular", Tahoma, Arial, serif;
    background-color: #b81d17;
    border: solid 3px #b81d17;
    color: #f3eeee;
}

#dedicaces {
    margin-top:30px;
    padding-bottom:30px;
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

#datesDedicaces {
    margin-top: 20px;
}

/******* CONTACTS ********/

#contacts {
    background: url("../images/contacts/bg-contacts.jpg") top center no-repeat;
}

#infos-spectacle {
    text-align: center;
    font-family: "LatoRegular", Tahoma, Arial, serif;
    padding:20px;
}

#contacts {
    color: #f3eeee;
}

#contacts h1 {
    font-family: "TravisZone", Tahoma, Arial serif;
    color: #b81d17;
    letter-spacing: 3px;
    padding:20px;
    text-align: center;
}

#diffusion h3, #communication h3, #contact h3 {
    margin-top : 10px;
}

.personne {
    margin-top: 20px;
}

.personne a {
    color: #b81d17;
    text-decoration: none;
    font-weight: bold;
}

#communication, #contact {
    margin-top: 50px;
}

.info {
    margin-top:10px;
}

.info a {
    color: #b81d17;
    text-decoration: none;
    font-weight: bold;
}