/*
Author: Antoine Sorin
Version: 1
*/

@font-face {
    font-family: "PunkSongwriter";
    src: url("../fonts/PunkSongwriterRoughPERSO.ttf") format("truetype");
}

@font-face {
    font-family: "TravisZone";
    src: url("../fonts/TravisZone.ttf") format("truetype");
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular.ttf") format("truetype");
}

* {
    margin:0;
    padding:0;
}

body {
    background-color: #000000;
}

header {
    text-align: center;
}


/******* MENU ********/

#contentNav {
    background-color: #000000;
    height:60px;
    margin: auto;
    text-align: center;
    position: fixed;
    width: 100%;
}

#desktopMenu {
    width: 1052px;
    margin: auto;
    padding-top:18px;
}


#desktopMenu ul li {
    list-style: none;
    margin:0 20px;
    float:left;
}

#desktopMenu ul li a {
    font-family: PunkSongwriter, tahoma, arial, serif;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 2px;
}

#desktopMenu ul li a span {
    color: #b81d17;
}

/******* INFOS SOCIAL ********/

#socialInfos {
    color: #FFFFFF;
    height: 972px;
    background: url("../images/bg.jpg") top center no-repeat;
    text-transform: uppercase;
    font-family: PunkSongwriter, tahoma, arial, serif;
    font-size: 75px;

}

#infos {
    padding-top:150px;
    margin-left:-450px;
}

#infos span {
    color: #b81d17;
}

#socialInfos #prenom {
    font-size: 100px;
}

#socialInfos a {
    text-decoration: none;
    font-size: 40px;
    margin:0 1px;
    color: #FFFFFF;
    transition-duration: 0.5s;
}

#socialInfos a:hover {
    color: #b81d17;
    transition-duration: 0.5s;
}

#socialIcons {
    background: url("../images/logo-guitare.png") top center no-repeat;
    height:145px;
}

#icons {
    margin-left: 140px;
}

/******* SUR SCENE ********/

#surScene {
    background-color: #b81d17;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom:50px;
}

#surScene h1 {
    font-family: "TravisZone", Tahoma, Arial serif;
    color: #FFFFFF;
    letter-spacing: 3px;
    padding: 20px;
}

#contentScene {
    background-color: #ded7d7;
    padding: 20px;
    border-radius: 10px;
    max-width: 1208px;

    margin: auto;
}

#gridScene {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#affiche {
    margin-left:30px
}

#resume {
    text-align: left;
    padding:20px 0 20px 20px;
    margin-left:10px;
}

#resume h2 {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 22px;
}

#resume p {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 17px;
    margin-top:15px;
}

#videos-concert {
    margin-top:24px;
}


#vidRight {
    margin-left: 50px;
}

/******* DATES ********/

#surScene h3 {
    color: #b81d17;
    font-family: "TravisZone", Tahoma, Arial serif;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 20px 0;
}

#contentBilletterie {
    width: 1210px;
    margin: auto;
}

.date {
    display: grid;
    grid-template-columns: 200px 250px 250px 250px 200px;
}

.logo img {
    height: 50px;
}

.date, .ville, .salle, .vente, .soon {
    line-height: 50px;
    font-family: "LatoRegular", Tahoma, Arial, serif;
}

.vente a {
    color: #ded7d7;
    background-color: #b81d17;
    padding:15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}



/******* LIVRES ********/

#livres {
    background-color: #faf8f8;
    text-align: center;
}

#livres h1 {
    color: #b81d17;
    font-family: "TravisZone", Tahoma, Arial serif;
    letter-spacing: 3px;
    padding: 20px;
}

.contentLivres {
    background-color: #f3eeee;
    padding: 20px;
    border-radius: 10px;
    max-width: 1208px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: auto;
}

#resumeLivrePoissonLune {
    text-align: left;
    padding:20px;
}

#resumeLivrePoissonLune h2 {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 22px;
}

#resumeLivrePoissonLune p {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 17px;
    margin-top:15px;
}

#resumeLivrePoissonLune p.textItalic {
    font-style: italic;
}

#liensPoissonLune {
    margin-top:40px;
}

#lienDedicace, #lienCommanderPoissonLune {
    text-decoration: none;
    padding:10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "LatoRegular", Tahoma, Arial, serif;
}


#lienCommanderPoissonLune {
    background-color: #b81d17;
    border: solid 3px #b81d17;
    color: #f3eeee;
}

.conte {
    margin-top:30px;
    margin-bottom: 20px;
}

#resumeLivreConte {
    text-align: left;
    padding: 20px;
}

#resumeLivreConte h2 {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 22px;
}

#resumeLivreConte p {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 17px;
    margin-top:15px;
}

#liensPoissonLuneConte {
    margin-top:40px;
}

#lienCommanderPoissonLuneConte {
    text-decoration: none;
    padding:10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "LatoRegular", Tahoma, Arial, serif;
    background-color: #b81d17;
    border: solid 3px #b81d17;
    color: #f3eeee;
}


#dedicaces {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 20px;
    padding:75px;
}

.bold {
    font-weight: bold;
}

#datesDedicaces {
    margin-top: 20px;
}

.contentVideoLivres {
    margin-top:30px;
    padding:10px;
    display: inline-block;
}

#asso {
    padding-bottom:50px;
}

#asso a {
    text-decoration: none;
    color: #b81d17;
}

#logoAsso {
    width:200px;
}

/******* PHOTOS ********/

#photos {
    background: url("../images/bg2.jpg") top center no-repeat;
    text-align: center;
    padding:40px;
}

#photos h1 {
    color: #f3eeee;
    font-family: "TravisZone", Tahoma, Arial serif;
    letter-spacing: 3px;
    padding: 30px;
}

#contentPhotos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 1300px;
    margin: auto;
    grid-gap: 50px;
}

.card img {
    width: 300px;
}

#contentInfosPhotos {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    color: #f3eeee;
    padding:30px;
}

#contentInfosPhotos p{
    margin-bottom:40px;
}

#contentInfosPhotos a {
    background-color: #f3eeee;
    color: #b81d17;
    padding:15px;
    border-radius:5px;
    text-decoration: none;
    transition-duration: 0.5s;
}

#contentInfosPhotos a:hover {
    background-color: #b81d17;
    color: #f3eeee;
}

/******* CLIPS ********/

#clips {
    background-color: #b81d17;
    padding:40px 0 100px 0;
    text-align: center;
}

#clips h1 {
    color: #f3eeee;
    font-family: "TravisZone", Tahoma, Arial serif;
    letter-spacing: 3px;
    margin-bottom:50px;
}

#contentClip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.clip {
    margin:20px;
}

/******* BOUTIQUE ********/

#boutique {
    background-color: #f3eeee;
    padding:40px 0 100px 0;
    text-align: center;
}

#boutique h1 {
    color: #b81d17;
    font-family: "TravisZone", Tahoma, Arial serif;
    letter-spacing: 3px;
    margin-bottom:50px;
}

#contentBoutique {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 1300px;
    margin: auto;
}

.article {
    background-color: #ded7d7;
    width:250px;
    border-radius: 20px;
    font-family: "LatoRegular", Tahoma, Arial, serif;
}

.article h5 {
    margin:5px 0 20px 0;
}

.infosArticle {
    padding-bottom:30px;
}

.commande {
    background-color: #b81d17;
    color: #f3eeee;
    border-radius: 5px;
    padding:10px;
    text-decoration: none;
}

.plusdinfos {
    background-color: #f3eeee;
    color: #b81d17;
    border: solid 2px #b81d17;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px;
}

.coverArticle {
    width:250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#venteDVD {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    margin-top:20px;
}


/******* CONTACTS ********/

#contacts {
    background: url("../images/contacts/bg-contacts.jpg") top center no-repeat;
}

#infos-spectacle {
    text-align: center;
    font-family: "LatoRegular", Tahoma, Arial, serif;
    padding:20px;
}

#contacts {
    color: #f3eeee;
}

#contacts h1 {
    font-family: "TravisZone", Tahoma, Arial serif;
    color: #b81d17;
    letter-spacing: 3px;
    padding:20px;
    text-align: center;
}

#diffusion h3, #communication h3, #contact h3 {
    margin-top : 10px;
}

.personne {
    margin-top: 20px;
}

.personne a {
    color: #b81d17;
    text-decoration: none;
    font-weight: bold;
}

#communication, #contact {
    margin-top: 50px;
}

.info {
    margin-top:10px;
}

.info a {
    color: #b81d17;
    text-decoration: none;
    font-weight: bold;
}

#contact {
    margin-bottom : 40px;
}

#socialContact {
    margin:40px;
}

#socialContact p {
    margin:10px;
}

#socialContact a {
    text-decoration: none;
    color: #f3eeee;
    font-size: 30px;
    margin:5px;
    transition-duration: 0.5s;
}

#socialContact a:hover {
    color: #b81d17;
}

#lienLogoKalmia {
    text-decoration: none;
}

#contentEditeur {
    margin:60px 20px 20px 20px;
}

#lienEditeur {
    text-decoration: none;
    color: #f3eeee;
}

#realSite {
    margin-top:20px;
}

#realSite a {
    color: #b81d17;
    text-decoration: none;
}