/*
Author: Antoine Sorin
Version: 1
*/

@font-face {
    font-family: "PunkSongwriter";
    src: url("../fonts/PunkSongwriterRoughPERSO.ttf") format("truetype");
}

@font-face {
    font-family: "TravisZone";
    src: url("../fonts/TravisZone.ttf") format("truetype");
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular.ttf") format("truetype");
}

* {
    margin:0;
    padding:0;
}

body {
    background-color: #000000;
}

header {
    text-align: center;
}


/******* MENU ********/

#contentNav {
    background-color: #000000;
    height:60px;
    margin: auto;
    text-align: center;
    position: fixed;
    width: 100%;
}

#desktopMenu {
    width: 1080px;
    margin: auto;
    padding-top:18px;
}


#desktopMenu ul li {
    list-style: none;
    margin:0 20px;
    float:left;
}

#desktopMenu ul li a {
    font-family: PunkSongwriter, tahoma, arial, serif;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 2px;
}

#desktopMenu ul li a span {
    color: #b81d17;
}

/******* INFOS SOCIAL ********/

#socialInfos {
    color: #FFFFFF;
    height: 972px;
    background: url("../images/bg.jpg") top center no-repeat;
    text-transform: uppercase;
    font-family: PunkSongwriter, tahoma, arial, serif;
    font-size: 75px;

}

#infos {
    padding-top:150px;
    margin-left:-450px;
}

#infos span {
    color: #b81d17;
}

#socialInfos #prenom {
    font-size: 100px;
}

#socialInfos a {
    text-decoration: none;
    font-size: 40px;
    margin:0 1px;
    color: #FFFFFF;
    transition-duration: 0.5s;
}

#socialInfos a:hover {
    color: #b81d17;
    transition-duration: 0.5s;
}

#socialIcons {
    background: url("../images/logo-guitare.png") top center no-repeat;
    height:145px;
}

#icons {
    margin-left: 140px;
}

/******* SUR SCENE ********/

#surScene {
    background-color: #b81d17;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom:50px;
}

#surScene h1 {
    font-family: "TravisZone", Tahoma, Arial serif;
    color: #FFFFFF;
    letter-spacing: 3px;
    padding: 20px;
}

#contentScene {
    background-color: #ded7d7;
    padding: 20px;
    border-radius: 10px;
    max-width: 1208px;
    margin: auto;
}

#gridScene {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#affiche {
    margin-left:30px
}

#resume {
    text-align: left;
    padding:20px 0 20px 20px;
    margin-left:10px;
}

#resume h2 {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 22px;
}

#resume p {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 17px;
    margin-top:15px;
}

#videos-concert {
    margin-top:24px;
}


#vidRight {
    margin-left: 50px;
}

/******* DATES ********/

#surScene h3 {
    color: #b81d17;
    font-family: "TravisZone", Tahoma, Arial serif;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 20px 0;
}

#contentBilletterie {
    margin: auto;
}

.contentDate {
    display: grid;
    grid-template-columns: 200px 250px 250px 250px 200px;
}

.logo img {
    height: 50px;
}

.contentDate, .ville, .salle, .vente, .soon {
    line-height: 50px;
    font-family: "LatoRegular", Tahoma, Arial, serif;
}

.vente a {
    color: #ded7d7;
    background-color: #b81d17;
    padding:15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}



/******* LIVRES ********/

#livres {
    background-color: #faf8f8;
    text-align: center;
}

#livres h1 {
    color: #b81d17;
    font-family: "TravisZone", Tahoma, Arial serif;
    letter-spacing: 3px;
    padding: 20px;
}

.contentLivres {
    background-color: #f3eeee;
    padding: 20px;
    border-radius: 10px;
    max-width: 1208px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: auto;
}

#resumeLivrePoissonLune {
    text-align: left;
    padding:20px;
}

#resumeLivrePoissonLune h2 {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 22px;
}

#resumeLivrePoissonLune p {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 17px;
    margin-top:15px;
}

#resumeLivrePoissonLune p.textItalic {
    font-style: italic;
}

#liensPoissonLune {
    margin-top:40px;
}

#lienDedicace, #lienCommanderPoissonLune {
    text-decoration: none;
    padding:10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "LatoRegular", Tahoma, Arial, serif;
}


#lienCommanderPoissonLune {
    background-color: #b81d17;
    border: solid 3px #b81d17;
    color: #f3eeee;
}

.conte {
    margin-top:30px;
    margin-bottom: 20px;
}

#resumeLivreConte {
    text-align: left;
    padding: 20px;
}

#resumeLivreConte h2 {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 22px;
}

#resumeLivreConte p {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 17px;
    margin-top:15px;
}

#liensPoissonLuneConte {
    margin-top:40px;
}

#lienCommanderPoissonLuneConte {
    text-decoration: none;
    padding:10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "LatoRegular", Tahoma, Arial, serif;
    background-color: #b81d17;
    border: solid 3px #b81d17;
    color: #f3eeee;
}


#dedicaces {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    font-size: 20px;
    padding:75px;
}

.bold {
    font-weight: bold;
}

#datesDedicaces {
    margin-top: 20px;
}

.contentVideoLivres {
    margin-top:30px;
    padding:10px;
    display: inline-block;
}

#asso {
    padding-bottom:50px;
}

#asso a {
    text-decoration: none;
    color: #b81d17;
}

#logoAsso {
    width:200px;
}

/******* PHOTOS ********/

#photos {
    background: url("../images/bg2.jpg") top left repeat-x;
    text-align: center;
    padding:40px;
}

#photos h1 {
    color: #f3eeee;
    font-family: "TravisZone", Tahoma, Arial serif;
    letter-spacing: 3px;
    padding: 30px;
}

#contentPhotos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 1300px;
    margin: auto;
    grid-gap: 50px;
}

.card img {
    width: 300px;
}

#contentInfosPhotos {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    color: #f3eeee;
    padding:30px;
}

#contentInfosPhotos p{
    margin-bottom:40px;
}

#contentInfosPhotos a {
    background-color: #f3eeee;
    color: #b81d17;
    padding:15px;
    border-radius:5px;
    text-decoration: none;
    transition-duration: 0.5s;
}

#contentInfosPhotos a:hover {
    background-color: #b81d17;
    color: #f3eeee;
}

/******* CLIPS ********/

#clips {
    background-color: #b81d17;
    padding:40px 0 100px 0;
    text-align: center;
}

#clips h1 {
    color: #f3eeee;
    font-family: "TravisZone", Tahoma, Arial serif;
    letter-spacing: 3px;
    margin-bottom:50px;
}

#contentClip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1300px;
    margin: auto;
}

.clip {
    margin:20px;
}

/******* BOUTIQUE ********/

#boutique {
    background-color: #f3eeee;
    padding:40px 0 100px 0;
    text-align: center;
}

#boutique h1 {
    color: #b81d17;
    font-family: "TravisZone", Tahoma, Arial serif;
    letter-spacing: 3px;
    margin-bottom:50px;
}

#contentBoutique {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 1300px;
    margin: auto;
}

.article {
    background-color: #ded7d7;
    width:250px;
    border-radius: 20px;
    font-family: "LatoRegular", Tahoma, Arial, serif;
    margin: auto;
}

.article h5 {
    margin:5px 0 20px 0;
}

.infosArticle {
    padding-bottom:30px;
}

.commande {
    background-color: #b81d17;
    color: #f3eeee;
    border-radius: 5px;
    padding:10px;
    text-decoration: none;
}

.plusdinfos {
    background-color: #f3eeee;
    color: #b81d17;
    border: solid 2px #b81d17;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px;
}

.coverArticle {
    width:250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#venteDVD {
    font-family: "LatoRegular", Tahoma, Arial, serif;
    margin-top:20px;
}


/******* CONTACTS ********/

#contacts {
    background: url("../images/contacts/bg-contacts.jpg") top center no-repeat;
}

#infos-spectacle {
    text-align: center;
    font-family: "LatoRegular", Tahoma, Arial, serif;
    padding:20px;
}

#contacts {
    color: #f3eeee;
}

#contacts h1 {
    font-family: "TravisZone", Tahoma, Arial serif;
    color: #b81d17;
    letter-spacing: 3px;
    padding:20px;
    text-align: center;
}

#diffusion h3, #communication h3, #contact h3 {
    margin-top : 10px;
}

.personne {
    margin-top: 20px;
}

.personne a {
    color: #b81d17;
    text-decoration: none;
    font-weight: bold;
}

#communication, #contact {
    margin-top: 50px;
}

.info {
    margin-top:10px;
}

.info a {
    color: #b81d17;
    text-decoration: none;
    font-weight: bold;
}

#contact {
    margin-bottom : 40px;
}

#socialContact {
    margin:40px;
}

#socialContact p {
    margin:10px;
}

#socialContact a {
    text-decoration: none;
    color: #f3eeee;
    font-size: 30px;
    margin:5px;
    transition-duration: 0.5s;
}

#socialContact a:hover {
    color: #b81d17;
}

#lienLogoKalmia {
    text-decoration: none;
}

#contentEditeur {
    margin:60px 20px 20px 20px;
}

#lienEditeur {
    text-decoration: none;
    color: #f3eeee;
}

#realSite {
    margin-top:20px;
}

#realSite a {
    color: #b81d17;
    text-decoration: none;
}








#burger {
    display: none;
}

/* Style des contenus */
#form1 label {
    background:#b81d17;
    display:block;
    padding:5px;
    color:#f3eeee;
    text-align:center;
    font-weight:bold;
    border-radius:2px;
    cursor:pointer;
    margin-top:-3px;
}

#contenu {
    display:flex;
    background: #000000;
    position:fixed;
    top:0;
    right:-200px;
    width:200px;
    height:100vh;
    overflow:hidden;
    transition:all ease-in 0.4s;
    z-index: 900;
    transition-duration: 0.5s;
    padding-top:100px;
}

#contenu #textes {
    width:60%;
    margin:0 auto;
}

#contenu p {
    margin-bottom:.8em;
}

#contenu p:last-child {
    margin-bottom:0;
}

/* Menu burger */
#menu-burger {
    position:absolute;
    z-index:950;
    top:2.5em;
    right:2.3em;
    cursor:pointer;
    display:none;
    transition:0.55s;
}

#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {
    display:block;
    width:20px;
    height:3px;
    background-color:#f3eeee;
    margin:4px 4px;
    transition:0.4s;
}

input[type="checkbox"]#burger:checked ~ label .bar1 {
    -webkit-transform:rotate(-45deg) translate(-5px, 5px);
    transform:rotate(-45deg) translate(-5px, 5px);
}

input[type="checkbox"]#burger:checked ~ label .bar2 {
    opacity: 0;
}

input[type="checkbox"]#burger:checked ~ label .bar3 {
    -webkit-transform:rotate(45deg) translate(-5px, -5px);
    transform:rotate(45deg) translate(-5px, -5px);
}

/* Effet Slide/Swipe pleine page */
#form1 input[type="checkbox"]:checked ~ #contenu {
    right:0;
}

#form1 input[type="checkbox"]:checked ~ #menu-burger {
    right:5.0em;
    transition:0.55s;
}

#menuResp {
    width:100%;
}

#menuResp ul li {
    list-style: none;
    padding:20px 0;
}

#menuResp ul li a {
    font-family: PunkSongwriter, tahoma, arial, serif;
    color: #f3eeee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
}

#menuResp ul li a span {
    color: #b81d17;
}

#wrapper {
    display: none;
}

#videos-concert-mobile {
    display: none;
}

#coverPoissonLune-mobile {
    display: none;
}

@media screen and (min-width: 1100px) and (max-width: 1300px) {

    /*  SCENE  */

    #contentScene {
        max-width: 1000px;
    }

    .vid {
        width:252px;
        height:159px;
    }

    .contentDate {
        display: grid;
        grid-template-columns: 300px 255px 210px 230px 150px;
        margin:20px 0;
    }

    .logo {
        display: none;
    }

    /*  LIVRES  */

    .contentLivres {
        max-width: 1000px;
    }

    .vidLivres {
        width:480px;
        height:270px;
    }

    /*  CLIPS  */

    #contentClip {
        max-width: 1100px;
    }


    .clip {
        margin:0;
    }

    /* BOUTIQUE */

    #contentBoutique {
        grid-template-columns: repeat(3,auto);
        max-width: 1100px;
        grid-gap: 20px;
    }

}

@media screen and (min-width: 800px) and (max-width: 1099px) {

    /* MENU */

    #wrapper {
        display: inline;
    }

    #desktopMenu {
        display: none;
    }

    #contentNav {
        background-color: transparent;
    }

    input[type="checkbox"]#burger:checked ~ #contenu {
        box-shadow: -3px -2px 10px #f3eeee;
    }

    #menu-burger {
        position:absolute;
        z-index:950;
        top:2.5em;
        right:2.3em;
        cursor:pointer;
        display:none;
        transition:0.55s;
    }

    /* INFOS */

    #infos {
        margin-left:-200px;
        padding-top: 90px;
    }


    /*  SCENE  */

    #contentScene {
        max-width: 700px;
    }

    .vid2 {
        margin:7px;
        width:310px;
        height:196px;
    }

    .contentDate {
        display: grid;
        grid-template-columns: 168px 225px 123px 230px 150px;
        margin:20px 0;
        font-size: 14px;
    }

    .logo {
        display: none;
    }

    #videos-concert {
        display: none;
    }

    #videos-concert-mobile {
        display: inline-block;
        margin:10px 0;
    }

    /*  LIVRES  */

    .contentLivres {
        max-width: 700px;
    }

    .vidLivres {
        width:355px;
        height:200px;
    }

    /*  PHOTOS  */

    #contentPhotos {
        grid-template-columns: repeat(2, auto);
        max-width: 700px;
    }

    /*  CLIPS  */

    #contentClip {
        max-width: 700px;
        grid-template-columns: repeat(2, auto);
        grid-gap: 10px;
    }


    .clip {
        margin:0;
    }

    /* BOUTIQUE */

    #contentBoutique {
        grid-template-columns: repeat(2,auto);
        max-width: 700px;
        grid-gap: 20px;
    }

}

@media screen and (min-width: 600px) and (max-width: 799px) {

    /* MENU */

    #wrapper {
        display: inline;
    }

    #desktopMenu {
        display: none;
    }

    #contentNav {
        background-color: transparent;
    }

    input[type="checkbox"]#burger:checked ~ #contenu {
        box-shadow: -3px -2px 10px #f3eeee;
    }

    #menu-burger {
        position:absolute;
        z-index:950;
        top:2.5em;
        right:2.3em;
        cursor:pointer;
        display:none;
        transition:0.55s;
    }

    /* INFOS */

    #infos {
        margin:auto;
        padding-top: 400px;
    }


    #socialInfos {
        background: url("../images/bg-mobil.png") top center no-repeat;
        font-size:50px;
        height:650px;
    }

    #socialInfos #prenom {
        font-size: 62px;
    }


    #socialInfos a {
        text-decoration: none;
        font-size: 40px;
        margin:0 1px;
        color: #FFFFFF;
        transition-duration: 0.5s;
    }

    #socialInfos a:hover {
        color: #b81d17;
        transition-duration: 0.5s;
    }

    #socialIcons {
        background: transparent;
        height:145px;
    }

    #icons {
        margin-left: 0;
    }


    /*  SCENE  */

    #contentScene {
        max-width: 500px;
    }

    #gridScene {
        display: inline-block;
    }

    #affiche {
        margin-left: 0;
    }

    .vid2 {
        margin:7px;
        width:310px;
        height:196px;
    }

    .contentDate {
        display: inline-block;
        margin:30px 30px;
        font-size: 15px;
    }

    .logo {
        display: none;
    }

    #videos-concert {
        display: none;
    }

    #videos-concert-mobile {
        display: inline-block;
        margin:10px 0;
    }

    /*  LIVRES  */

    .contentLivres {
        max-width: 500px;
        display: inline-block;
    }

    #coverPoissonLune {
        display: none;
    }

    #coverPoissonLune-mobile {
        display: inline-block;
        text-align: center;
    }

    .vidLivres {
        width:355px;
        height:200px;
    }

    /*  PHOTOS  */

    #contentPhotos {
        grid-template-columns: repeat(1, auto);
        max-width: 500px;
    }

    /*  CLIPS  */

    #contentClip {
        max-width: 500px;
        grid-template-columns: repeat(1, auto);
        grid-gap: 10px;
    }


    .clip {
        margin:0;
    }

    /* BOUTIQUE */

    #contentBoutique {
        grid-template-columns: repeat(2,auto);
        max-width: 500px;
        grid-gap: 20px;
    }

}

@media screen and (min-width: 0px) and (max-width: 699px) {

    /* MENU */

    #wrapper {
        display: inline;
    }

    #desktopMenu {
        display: none;
    }

    #contentNav {
        background-color: transparent;
    }

    input[type="checkbox"]#burger:checked ~ #contenu {
        box-shadow: -3px -2px 10px #f3eeee;
    }

    #menu-burger {
        position:absolute;
        z-index:950;
        top:2.5em;
        right:2.3em;
        cursor:pointer;
        display:none;
        transition:0.55s;
    }

    /* INFOS */

    #infos {
        margin:auto;
        padding-top: 400px;
    }


    #socialInfos {
        background: url("../images/bg-mobil.png") top center no-repeat;
        font-size:50px;
        height:650px;
    }

    #socialInfos #prenom {
        font-size: 62px;
    }


    #socialInfos a {
        text-decoration: none;
        font-size: 40px;
        margin:0 1px;
        color: #FFFFFF;
        transition-duration: 0.5s;
    }

    #socialInfos a:hover {
        color: #b81d17;
        transition-duration: 0.5s;
    }

    #socialIcons {
        background: transparent;
        height:145px;
    }

    #icons {
        margin-left: 0;
    }


    /*  SCENE  */

    #contentScene {
        max-width: 360px;
        padding:10px 5px 10px 5px;
    }

    #gridScene {
        display: inline-block;
    }

    #affiche {
        margin-left: 0;
    }

    #resume {
        padding: 20px;
        margin-left: 0;
    }

    .vid2 {
        margin:7px;
        width:310px;
        height:196px;
    }

    .contentDate {
        display: inline-block;
        margin:30px 30px;
        font-size: 15px;
    }

    .logo {
        display: none;
    }

    #videos-concert {
        display: none;
    }

    #videos-concert-mobile {
        display: inline-block;
        margin:10px 0;
    }

    /*  LIVRES  */

    .contentLivres {
        max-width: 360px;
        padding:10px 5px 10px 5px;
        display: inline-block;
    }

    #coverPoissonLune {
        display: none;
    }

    #coverPoissonLune-mobile {
        display: inline-block;
        text-align: center;
    }

    .vidLivres {
        width:355px;
        height:200px;
    }

    /*  PHOTOS  */

    #contentPhotos {
        grid-template-columns: repeat(1, auto);
        max-width: 500px;
    }

    /*  CLIPS  */

    #contentClip {
        max-width: 500px;
        grid-template-columns: repeat(1, auto);
        grid-gap: 10px;
    }


    .clip {
        margin:0;
    }

    /* BOUTIQUE */

    #contentBoutique {
        grid-template-columns: repeat(1,auto);
        max-width: 360px;
        grid-gap: 20px;
    }

    #venteDVD {
        padding:20px;
    }

}







